@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");

* {
  font-family: "Rethink Sans", sans-serif;
}
span {
  color: grey;
}
ul {
  list-style-type: none;
  margin: auto;
}
h1 {
  font-size: 20px;
  margin: 40px;
  color: green;
}
